
HYPERLIQUID_NETWORK=mainnet
HL_ACCOUNT_ADDRESS=0xPRIMARY_MASTER_ADDRESS


FUNDING_HEDGE_ACCOUNT_ADDRESS=0xDEDICATED_HEDGE_SUBACCOUNT
FUNDING_HEDGE_ACCOUNT_KIND=subaccount



FUNDING_HEDGE_SYMBOLS=xyz:SKHX


FUNDING_HEDGE_RATIO=1
FUNDING_HEDGE_OPEN_LEAD_SECONDS=120
FUNDING_HEDGE_LATEST_OPEN_CUTOFF_SECONDS=15
FUNDING_HEDGE_CONFIRMATION_TIMEOUT_SECONDS=120
FUNDING_HEDGE_MAX_DATA_AGE_SECONDS=30
FUNDING_HEDGE_MAX_CLOCK_SKEW_SECONDS=5


FUNDING_HEDGE_ASSUMED_LEVERAGE=1
FUNDING_HEDGE_MARGIN_MODE=cross
FUNDING_HEDGE_MIN_AVAILABLE_MARGIN_USD=100
FUNDING_HEDGE_MAX_NOTIONAL_USD=0
FUNDING_HEDGE_MIN_POSITION_NOTIONAL_USD=10
FUNDING_HEDGE_MIN_ORDER_NOTIONAL_USD=10
FUNDING_HEDGE_MARGIN_SAFETY_MULTIPLIER=1.20


FUNDING_HEDGE_MIN_EXPECTED_SAVING_USD=0.50
FUNDING_HEDGE_SLIPPAGE_RATE_PER_ORDER=0.0002
FUNDING_HEDGE_RISK_BUFFER_RATE=0.0002
FUNDING_HEDGE_COST_SAFETY_MULTIPLIER=1.25
FUNDING_HEDGE_MAX_ORDER_SLIPPAGE=0.002



FUNDING_HEDGE_FALLBACK_TAKER_FEE_RATE=0.00045
FUNDING_HEDGE_HIP3_EXTRA_FEE_RATE_PER_ORDER=0
FUNDING_HEDGE_HIP3_EXTRA_FEE_RATE_KNOWN=false


FUNDING_HEDGE_AMBIGUOUS_RETRY_SECONDS=15
FUNDING_HEDGE_OPEN_RECONCILIATION_TIMEOUT_SECONDS=30
FUNDING_HEDGE_HTTP_TIMEOUT_SECONDS=5
FUNDING_HEDGE_ACTION_EXPIRY_SECONDS=15
FUNDING_HEDGE_POLL_SECONDS=5



FUNDING_HEDGE_EXECUTE=false




FUNDING_HEDGE_SECRET_KEY=
